{% extends "layout.html" %}

{% block content %}
<head>
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Search Page</h1>
        <h4>Pencarian kode HS berdasarkan nama komoditas</h4>
        <form action="/search" method="POST">
            <input type="text" name="query" placeholder="Masukkan kata kunci / nama komoditas">
            <br>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
{% endblock content %}
