{% extends "layout.html" %}

{% block content %}
<head>
    <title>Search Page</title>
</head>
<body>
    {% if query %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">No HS</th>
            <th scope="col">2 Digit</th>
            <th scope="col">4 Digit</th>
            <th scope="col">6 Digit</th>
            <th scope="col">8 Digit</th>
          </tr>
        </thead>
        <tbody>
        {% for item in result %}
          <tr>
            <th style="padding: 10px;" scope="row">{{ loop.index }}</th>
            <td>{{item[0]}}</td>
            <td>{{item[1][0]}}</td>
            <td>{{item[1][1]}}</td>
            <td>{{item[1][2]}}</td>
            <td>{{item[1][3]}}</td>
            <!-- <td>{{item[1][4]}}</td> -->
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div style="
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 5px;
    font-size: 3rem;
    background-size: cover;
    background-image: linear-gradient(45deg, 
    rgba(255,0,0,0.5),
     rgba(255,166,0,0.5), 
     rgba(0,0,255,0.44)), 
    url(../static/bg-hero.jpg);" >
        <div style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            <h1>HSCODE ENGINE RECOMMENDATION</h1>
        </div>
    </div>
    {% endif %}
</body>
{% endblock content %}
